/*	
	Side Navigation Menu V2, RWD
	===================
	License:
	https://goo.gl/EaUPrt
	===================
	Author: @PableraShow

 */

@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300, 400, 700);

.movelist body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color: #a7a1ae;
  background-color: #1f2739;
}

.movelist h1 {
  font-size: 3em;
  font-weight: 300;
  line-height: 1em;
  text-align: center;
  color: #4dc3fa;
}

.movelist h2 {
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  display: block;
  line-height: 1em;
  padding-bottom: 2em;
  color: #fb667a;
}

.movelist h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #fb667a;
  text-decoration: none;
}

.blue {
  color: #185875;
}
.yellow {
  color: #fff842;
}
.red {
  color: #a1182d;
}

.movelist th h1 {
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  color: #185875;
}

.movelist td {
  font-weight: normal;
  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0e1119;
  -moz-box-shadow: 0 2px 2px -2px #0e1119;
  box-shadow: 0 2px 2px -2px #0e1119;
}

.movelist {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  display: block;
  padding: 0 0 8em 0;
  table-layout: fixed;
  border-collapse: collapse;
  margin-left: 0%;
  margin-right: 0%;
}

.movelist td,
.movelist th {
  padding: 10px;
  margin: 0%;
  text-align: left;
}

.movelist thead,
.movelist tbody {
  width: 100%;
}

.movelist th,
.movelist th h1 {
  text-align: left;
}

.header {
  display: none;
}

.movelist tbody {
  display: block;
  overflow: auto;
  height: 750px;
  width: 100%;
}

.movelist thead tr {
  display: table;
  table-layout: fixed;
}

tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

/* Background-color of the odd rows */
.movelist tr:nth-child(odd) {
  background-color: #9ec0cd;
}

/* Background-color of the even rows */
.movelist tr:nth-child(even) {
  background-color: #5e76a2;
}

/*Background-color of the headers*/
.movelist th {
  background-color: #babec7;
}

.movelist td:first-child {
  color: #fb667a;
  /* width: 9%; */
}

/* .movelist td {
  width: 9%;
}

.movelist td:nth-child(4) {
  width: 8%;
} */

/* .movelist th:first-child { width: 500px; } */

.movelist tr:hover {
  background-color: #464a52;
  -webkit-box-shadow: 0 6px 6px -6px #0e1119;
  -moz-box-shadow: 0 6px 6px -6px #0e1119;
  box-shadow: 0 6px 6px -6px #0e1119;
}

/* .movelist td:hover {
   background-color: #a1182d;
   color: #403E10;
   font-weight: bold;
   
   box-shadow: #691320 -1px 1px, #691320 -2px 2px, #691320 -3px 3px, #691320 -4px 4px, #691320 -5px 5px, #691320 -6px 6px;
   transform: translate3d(6px, -6px, 0);
   
   transition-delay: 0s;
       transition-duration: 0.4s;
       transition-property: all;
   transition-timing-function: line;
 } */

@media (max-width: 800px) {
  .movelist td:nth-child(4),
  .movelist th:nth-child(4) {
    display: none;
  }
}

#style-6::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

#style-6::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

#style-6::-webkit-scrollbar-thumb {
  background-color: #f90;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}

::-webkit-scrollbar {
  display: none;
}
