
.CharListMain > ul{
    list-style-type: none;
    margin: 130px 0 0;
    padding: 0;
}

.CharList {
    display: flex;
    flex-direction: row;
}

body {
    background-image: url('https://wallpapercave.com/wp/wp4402256.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}